:root{
    --color1: #6ec0b2;
    --color2: #fff;
    --color3: #ecfafc;
    --color4: #a7a39e;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    display: inline-block;
    background: var(--color1);
    color: var(--color2);
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
}
form, input[type="submit"], pre{
    margin-top: 10px;
}
label, input{
    display: block;
}