:root{
    --color1: #fff6e8;
    --color2: #dbf6f9;
    --color3: #ecfafc;
    --color4: #a7a39e;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    background: var(--color1);
}
p{
    display: inline-block;
    vertical-align: top;
    padding-top: 60px;
}
table{
    display: inline-block;
    margin: 10px 0;
    border-spacing: 0;
}
table thead tr th{
    background: var(--color1);
}
table thead th{
    padding: 10px;
}
table tbody td{
    text-align: center;
}
table tbody tr:nth-child(2n+1){
    background: var(--color2);
}
table tbody tr:nth-child(2n){
    background: var(--color3);
}
table thead tr th,
table tbody tr td{
    border: 1px solid var(--color4);
}
table thead tr th{
    border-right-width: 0;
}
table tbody tr td{
    border-top-width: 0;
    border-right-width: 0;
}
table tbody tr td:last-child,
table thead tr th:last-child{
    border-right-width: 1px;
}